<div class="form-block">
  <h1>Определите стратегию выгрузки новых данных</h1>
  <div id="all" class="upload-schema-block selected">
    <div class="radio-btn"></div>
    <p>Выгружать все данные каждый период</p>
  </div>
  <div id="date_field" class="upload-schema-block">
    <div class="radio-btn"></div>
    <p>Выгружать пакет новых данных в зависимости от даты добавления</p>
  </div>
  <div class="date-field-block" style="display: none">
    <p>Укажите поле, отвечающее за дату добавления</p>
  </div>
  <input name="upload_schema" type="hidden" value="all">
</div>